extends layout

block content
  h1= title
  - var result=results
  - let create = `create(\"/mobile/create\")`
  div(class="container-fluid")
   button.btn( class="btn-primary ml-1", onclick= create) create
   br
   br
   div(class="row m-1")
    - var i=0
    each form in result
     - let destination = `dispatch(\"/mobile/update?id=${form._id}\")`
     - let  detail= `detail(\"/mobile/detail?id=${form._id}\")`
     div(class="col-sm-2",onclick=`buy(${i})`,style="margin:15px") company: #{form.mobilecompany} - model: #{form.model} - prize: #{form.prize} 

     button.btn( class="btn-primary ml-1", onclick= destination) Update
     button.btn( class="btn-primary ml-1", onclick= detail) detail
     -i=i+1
  script.
   function buy(a){
    alert(`purchased item ${a+1}`)        
   }
   function dispatch(path){
    window.location.href=path
   }
   function create(path){
     window.location.href=path
   }
   function detail(path){
     window.location.href=path
   }